{% extends 'GoogleAnalyticsApiBundle::base.html.twig' %}
{% block main %}

    {# Page content #}
        <div class="page-content">

            {# Main content #}
            <div class="content-wrapper">

                {% if isClientFileExist == 0 %}
                    <h2 style="color:red;"> Client JSON file does not exist. Please check file with name <i><b>client_secrets.json</b></i> at location <i><b>/iLikeItSolutions/Data/</b></i> </h2>
                {% else %}
                {% if viewId == "" %}
                    <h2  style="color:red;"> Please enter view id of account from GA dashbord at file path <i><b>/iLikeItSolutions/GoogleAnalyticsApiBundle/Resources/config/services.yml</b></i> in property variable <b>ga_view_id</b></h2>
                {% else %}
                {# Quick actions #}
                <ul class="fab-menu fab-menu-fixed fab-menu-bottom-right" data-fab-toggle="hover" data-fab-state="closed">
                    <li>
                        <a class="fab-menu-btn btn bg-publishared btn-float btn-rounded btn-icon legitRipple">
                            <i class="fab-icon-open icon-paragraph-justify3"></i>
                            <i class="fab-icon-close icon-cross2"></i>
                        </a>

                        <ul class="fab-menu-inner">
                            <li>
                                <div data-fab-label="Nueva nota">
                                    <a href="#" class="btn btn-default btn-rounded btn-icon btn-float legitRipple">
                                        <i class="icon-pencil"></i>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div data-fab-label="Gestionar portada">
                                    <a href="#" class="btn bg-danger btn-rounded btn-icon btn-float legitRipple">
                                        <i class="icon-magazine"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                {# Quick actions  #}

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-file-text2 icon-3x text-indigo-400"></i>
                                </div>

                                <div class="media-body text-right">
                                    <h3 class="no-margin text-semibold">10.545</h3>
                                    <span class="text-uppercase text-size-mini text-muted">posts</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-users icon-3x text-danger"></i>
                                </div>

                                <div class="media-body text-right">
                                    <h3 class="no-margin text-semibold">2450</h3>
                                    <span class="text-uppercase text-size-mini text-muted">suscriptores</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body">
                            <div class="media no-margin">
                                <div class="media-body">
                                    <h3 class="no-margin text-semibold">23</h3>
                                    <span class="text-uppercase text-size-mini text-muted">Editores</span>
                                </div>

                                <div class="media-right media-middle">
                                    <i class="icon-user-check icon-3x text-blue-400"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body">
                            <div class="media no-margin">
                                <div class="media-body">
                                    <h3 class="no-margin text-semibold">23</h3>
                                    <span class="text-uppercase text-size-mini text-muted">widgets</span>
                                </div>

                                <div class="media-right media-middle">
                                    <i class="icon-embed2 icon-3x text-danger-400"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-20">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-default analytics-daterange">
                            <i class="icon-calendar22 position-left"></i>
                            <span></span>
                            <b class="caret"></b>
                        </button>
                    </div>
                </div>
                <form id="dashboardFilterDate" action="" type="GET">
                </form>

                {# Main charts #}
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-body bg-publishared has-bg-image">
                                    <div class="media no-margin">
                                        <div class="media-body">
                                            <h1 class="no-margin">2.445</h1>
                                            <span class="text-uppercase text-size-mini">usuarios activos  avg {{ data.avg_time_on_page }}   load {{ data.avg_page_load_time }}</span><br>
                                        </div>
                                        <div class="media-right media-middle">
                                            <i class="icon-users4 icon-2x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-body">
                                    <div class="media no-margin">
                                        <div class="media-body">
                                            <h3 class="no-margin text-semibold">{{ data.sessions| number_format(0, '.', '.') }}</h3>
                                            <span class="text-uppercase text-size-mini text-muted">Sessions</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <i class="icon-statistics icon-1x text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-body">
                                    <div class="media no-margin">
                                        <div class="media-body">
                                            <h3 class="no-margin text-semibold">{{ data.percent_new_visits| round(2, 'floor') }}</h3>
                                            <span class="text-uppercase text-size-mini text-muted">% New Sessions</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <i class="icon-users2 icon-1x text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-body">
                                    <div class="media no-margin">
                                        <div class="media-body">
                                            <h3 class="no-margin text-semibold">{{ data.page_views| number_format(0, '.', '.') }}</h3>
                                            <span class="text-uppercase text-size-mini text-muted">páginas vistas</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <i class="icon-file-eye icon-1x text-indigo-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-body">
                                    <div class="media no-margin">
                                        <div class="media-body">
                                            <h3 class="no-margin text-semibold">00:07:31</h3>
                                            <span class="text-uppercase text-size-mini text-muted">duración media</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <i class="icon-watch icon-1x text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-body">
                                    <div class="media no-margin">
                                        <div class="media-body">
                                            <h3 class="no-margin text-semibold">{{ data.bounce_rate| round(2, 'floor') }}</h3>
                                            <span class="text-uppercase text-size-mini text-muted">% rebote</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <i class="icon-alignment-aligned-to icon-1x text-danger-700"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-body">
                                    <div class="media no-margin">
                                        <div class="media-body">
                                            <h3 class="no-margin text-semibold">{{ data.page_view_per_session| round(2, 'floor')}}</h3>
                                            <span class="text-uppercase text-size-mini text-muted">Pages / Session</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <i class="icon-alignment-aligned-to icon-1x text-danger-700"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8">
                        <div class="panel panel-flat">
                            <div class="chart-container p-20">
                                <div class="chart has-fixed-height" id="curve_chart"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title"><i class="icon-stats-growth2 position-left"></i> Fuentes de tráfico</h5>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table text-nowrap">
                                        <thead>
                                        <tr>
                                            <th>Fuente</th>
                                            <th width="120">Tráfico</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for traffic in data.trafficSourcesData %}

                                        <tr>
                                            <td>
                                                <div class="media-heading">
                                                    <a href="#" class="letter-icon-title">{{ traffic.source|e }}</a>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="text-semibold no-margin">{{ traffic.value|number_format(0, '.', '.') }}</h6>
                                            </td>
                                        </tr>

                                        {% endfor %}
                                        

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title"><i class="icon-earth position-left"></i> Ubicaciones de tráfico</h5>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table text-nowrap">
                                        <thead>
                                        <tr>
                                            <th>País</th>
                                            <th width="120">Tráfico</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for traffic in data.trafficLocationData %}

                                        <tr>
                                            <td>
                                                <div class="media-heading">
                                                    {{ traffic.source|e }}
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="text-semibold no-margin">{{ traffic.value|number_format(0, '.', '.') }}</h6>
                                            </td>
                                        </tr>

                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title"><i class="icon-file-text2 position-left"></i> Páginas más vistas</h5>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table text-nowrap">
                                        <thead>
                                        <tr>
                                            <th>Página</th>
                                            <th width="120">Visitas</th>
                                            <th width="80">%</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for page in data.pagesVisitData %}
                                        <tr>
                                            <td>
                                                <div class="media-heading">
                                                    <a href="#" class="letter-icon-title">{{ page.path|e }}</a>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="text-semibold no-margin">{{ page.pageviews|number_format(0, '.', '.') }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-semibold no-margin">{{ 
                                                ((page.pageviews/data.page_views)*100) | round(2, 'floor') }}%</h6>
                                            </td>
                                        </tr>
                                        
                                        {% endfor %}
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-flat">
                            <div class="panel-body">
                                <div class="chart-container text-center has-scroll">
                                    <div class="display-inline-block" id="google-geo-region"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% endif %}
                {% endif %}
            </div>
            {# /main content  #}

        </div>
    {# /page content  #}
{% endblock %}



{% block javascripts %}

{% if isClientFileExist == 1 %}
{% if viewId != "" %}
{{ parent() }}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script>
//Line chart
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
var dataWeekly = {{ data.pagesSessionsData|json_encode|raw }};
function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Day');
    data.addColumn('number', 'Sesiones');
    data.addColumn('number', 'Páginas vistas');
    
    for(var i = 0; i < dataWeekly.length; i++){
        data.addRows([[dataWeekly[i][0],parseInt(dataWeekly[i][1]),parseInt(dataWeekly[i][2])]]);
    }


    var options = {
      curveType: 'function',
      width: '100%',
      legend: { position: 'top' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
}


// Initialize geo chart
google.load("visualization", "1", {packages:["geochart"]});
google.setOnLoadCallback(drawRegionsMap);
var geoData = {{ data.geoLocationData|json_encode|raw }};

// Chart settings
function drawRegionsMap() {

    // Data
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Country');
    data.addColumn('number', 'Sessions');
    
    for(var i = 0; i < geoData.length; i++){
        data.addRows([[geoData[i][0],parseInt(geoData[i][1])]]);
    }
    // Options
    var options = {
        fontName: 'Roboto',
        color: '#3b7abe',
        colorAxis: {colors: ['#bfd4ea', '#6a94c1', '#3b7abe']},
        height: 500,
        width: "100%",
        fontSize: 12,
        tooltip: {
            textStyle: {
                fontName: 'Roboto',
                fontSize: 13
            }
        }
    };

    // Draw chart
    var chart = new google.visualization.GeoChart($('#google-geo-region')[0]);
    chart.draw(data, options);
}

$(function() {
    var st = '{{ beginDate | date("Y-m-d H:i:s")}}';
    var end = '{{ endDate | date("Y-m-d H:i:s")}}';
    var startD = moment(st);
    var endD = moment(end);
    // Initialize with options
    var menu = $('.analytics-daterange').daterangepicker(
        {
            startDate: startD,
            endDate: endD,
            minDate: '01/01/2014',
            maxDate: moment(),
            dateLimit: { days: 60 },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Últimos 7 dias': [moment().subtract(6, 'days'), moment()],
                'Este mes': [moment().startOf('month'), moment().endOf('month')],
                'Mes pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            applyClass: 'btn-small bg-slate',
            cancelClass: 'btn-small btn-default'
        },
        function(start, end) {
            $('.analytics-daterange span').html(start.format('MMMM D, YYYY') + ' &nbsp; - &nbsp; ' + end.format('MMMM D, YYYY'));
        }
    );

    // Display date format
    $('.analytics-daterange span').html(startD.format('MMMM D, YYYY') + ' &nbsp; - &nbsp; ' + endD.format('MMMM D, YYYY'));

    $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {

            alert(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
    });

    $('.analytics-daterange').on('apply.daterangepicker', function (ev, picker) {
            var start_dt = $(document).find('input[name="daterangepicker_start"]').val();
            var end_dt = $(document).find('input[name="daterangepicker_end"]').val();
            var DofS = "<input name='beginDate' type='hidden'  value='" + start_dt + "'/>";
            var DofE = "<input name='endDate' type='hidden' value='" + end_dt + "'/>";
            $("#dashboardFilterDate").append(DofS + DofE);
            $("#dashboardFilterDate").submit();
        });

});

</script>
{% endif %}
{% endif %}
{% endblock %}
